.jumbotron{
    background-image: linear-gradient(to right,#bd1156, orange);
    color:white;
    padding:1%;
}
.card{
    padding:1%;
    margin-top: 7px;
}
.card-header{
    background-color:#8cbd11;
    color:white;
    font-weight: bold;
    text-align: center;
}
.card-footer{
    background-color:#8cbd11;
    color:white;
    font-weight: bold;
    text-align: center;
}
p{
    font-style: italic;
    margin-top: 3px;
    font-weight: bold;
   text-align: center;
}
.jumbo{
    background-image: linear-gradient(to right, #1c0426,#441659, #1c0426);
    color:white;
    padding:1%;
}